{% extends 'layout.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-3">Search a page</h1>
<form class="form" action="/search/twitter/partial" method="post">

  Usuario: <input type="text" name="user"><br>
  Numero de Tweets: <input type="number" id="numero" name="num" >
  <input class="btn" type="submit" value="post">
  <a href="/services/{{id}}" class="btn " role="button" aria-pressed="true">Bo Back</a>
  <a href="/" class="btn " role="button" aria-pressed="true">Home</a>
</form>


</div>

{% endblock %}
