{% extends 'layout.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-3">Start</h1>
  <p class="lead">Tool for web scraping- Choose one service</p>
  <hr class="my-4">
  <div class="row" style="margin-bottom:100px;">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="">
      <a class="navbar-brand " href="/new_form/Facebook/{{id}}"><img src="https://s-media-cache-ak0.pinimg.com/originals/b3/26/b5/b326b5f8d23cd1e0f18df4c9265416f7.png" height="120" width="110" /></a>
      <p style="margin-top:140px; font-size:1pc;">Log to your account</p>
      <a href="/" class="btn " role="button" aria-pressed="true" style="margin-bottom:-80px;margin-top:150px;margin-left:20px;">Bo Back</a>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="">
      <a class="navbar-brand " href="/new_form/Google/{{id}}"><img src="https://icon-icons.com/icons2/1222/PNG/512/1492616990-1-google-search-logo-engine-service-suits_83412.png" height="120" width="110" /></a>
      <p style="margin-top:140px; font-size:1pc;">Get Json qequest info</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="">
      <a class="navbar-brand " href="/new_form/Twitter/{{id}}"><img src="https://cdn.downdetector.com/static/uploads/c/300/5d4ec/twitter-logo_16.png" height="120" width="110" /></a>
    </a>
  </div>



  </div>

{% endblock %}
