{% extends 'layout.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-3">Start</h1>
  <p class="lead">Tool for web scraping- Choose a search engine</p>
  <hr class="my-4">
  <div class="row" style="margin-bottom:100px;">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="">
      <a class="navbar-brand " href="/services/Chrome/"><img src="http://www.iconarchive.com/download/i95295/dtafalonso/android-l/Chrome.ico" height="140" width="130" /></a>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="">
      <a class="navbar-brand " href="/services/Firefox/"><img src="http://www.iconarchive.com/download/i51115/hopstarter/software/Mozilla-Firefox.ico" height="150" width="140" /></a>
    </a>
  </div>



  </div>

{% endblock %}
